@import "../../../../styles/variables";

// for width < 768px
:host{
  display:block;
  max-width:100%;
}
::ng-deep {
  .cdk-overlay-pane{
  width:auto !important;
}

}

.signature-config{
  padding: 50px 16px 24px 16px;
}

.signature-config__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width:100%;
}


.signature-table{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 80%;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.signature-table__container{
  padding-bottom: 1rem;
}

.signature-config__save-button{
  padding: 1rem;
}
.mat-sort-header-arrow{
  color:white !important;
}

th {
  background-color: $Blue !important;
  color: $White;
}


.signature-config__radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  


// MEDIA QUERIES
@media(width > 768px){
  .signature-config{
    max-width: 1000px;
    margin-inline: auto;
    padding: 50px 20px 30px 20px;
  }

  .signature-config__container {
    flex-direction: row;
  }

  .signature-config__panel {
    flex: 1 1 65%;

    mat-card{
      height: 100%;
    }
  }

}
