
  <div class="signature-config">
    <div class="signature-config__container">
      <div class="signature-config__panel">
        <mat-card>
          <h2 class="ml-2 ">{{ 'signature.settings.title' | translate }}</h2>
          <mat-card-content>
            <mat-checkbox  [(ngModel)]="enableRemoteSignature" color="primary">{{ 'signature.settings.enableRemote' | translate }}</mat-checkbox>
            <mat-radio-group class="signature-config__radio-group" color="primary"
                [(ngModel)]="signatureMode">
                @for (mode of signatureModes; track mode) {
                  <mat-radio-button [value]="mode">
                    {{ ('signature.settings.mode.' + mode) | translate }}
                  </mat-radio-button>
                }
            </mat-radio-group>
            @if(signatureMode==='CLOUD'){
              <div class="signature-table">
                @if(signatureConfigDataSource.data.length>0){
                <div class="signature-table__container">
                  <table mat-table [dataSource]="signatureConfigDataSource" matSort class="signature-table__mat-table mat-elevation-z8">

                    <!-- CLOUD PROVIDER ID -->
                    <ng-container matColumnDef="cloudProviderId">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'signature.settings.table.providerId' | translate }}</th>
                      <td mat-cell *matCellDef="let credential">{{ credential.cloudProviderName }}</td>
                    </ng-container>

                    <!-- CREDENTIAL NAME -->
                    <ng-container matColumnDef="credentialName">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'signature.settings.table.credentialName' | translate }}</th>
                      <td mat-cell *matCellDef="let credential">{{ credential.credentialName }}</td>
                    </ng-container>

                    <!-- ACTIONS -->
                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef> {{ 'signature.settings.table.actions' | translate }}</th>
                      <td mat-cell *matCellDef="let credential">
                        <button mat-icon-button color="primary" (click)="editCredential(credential)">
                          <mat-icon>edit_note</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteCredential(credential)">
                          <mat-icon>delete_outline</mat-icon>
                        </button>
                      </td>
                    </ng-container>

                    <!-- HEADER & ROWS -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let credential; columns: displayedColumns;"></tr>
                  </table>
                </div>
              }
                <div >
                  <button class="signature-table__actions" id="add-credential-button" mat-stroked-button color="primary" (click)="addCredential()"
                  ><mat-icon>add_box</mat-icon> {{ 'signature.settings.table.addCredential' | translate }}
                  </button>
                </div>
              </div>
            }
              <div class="signature-config__save-button">
                <button id="save-button" mat-raised-button color="primary" [disabled]="!isConfigChanged" (click)="saveConfiguration()">
                  {{ 'signature.settings.save' | translate }}
                </button>
              </div>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </div>




