<h1>Form page</h1>

<mat-form-field appearance="fill">
  <mat-label>Selecciona tipus de credencial</mat-label>
  <mat-select 
    [(value)]="selectedCredentialType$()" 
    (selectionChange)="onSelectionChange($event.value)">
    <mat-option 
      *ngFor="let credential of credentialTypesArr" 
      [value]="credential.value">
      {{ credential.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>


 @if (form()) {
      <form [formGroup]="form()" (ngSubmit)="onSubmit()">
        @for (field of schemaEntries(); track field.key) {
          <app-dynamic-field
            [fieldName]="field.key"
            [fieldSchema]="field.value"
            [form]="form()"
          />
        }
        <button type="submit">Submit</button>
      </form>
    }