<h1>Form page</h1>

<mat-form-field appearance="fill">
  <mat-label>Selecciona tipus de credencial</mat-label>
  <mat-select 
    [value]="selectedCredentialType$()" 
    (selectionChange)="onSelectionChange($event.value)">
    <mat-option 
      *ngFor="let credentialType of credentialTypesArr" 
      [value]="credentialType">
      {{ credentialType }}
    </mat-option>
  </mat-select>
</mat-form-field>


 @if (credentialFormSchema$() && form$()) {
      <form [formGroup]="form$()!" (ngSubmit)="onSubmit()">
        @for (field of credentialFormSchema$() | keyvalue; track field.key) {
            <div>{{field.key}}</div>
            @for(subfield of field.value.groupFields | keyvalue; track $index){
              <app-dynamic-field [fieldName$]="subfield.key" [fieldSchema$]="subfield.value" [abstractControl$]="form$()!.get(field.key)!"></app-dynamic-field>
            }
        }

        <button type="submit">Submit</button>
      </form>
    }