:host{
  display:block;
  margin-top:8px;
}

#title{
  margin: 0 0 8px;
}

.power {
  display: flex;

  .domain {
    margin-right: 2rem;
    margin-top: 0;
    padding-top: 0;
  }
  button {
    margin-left: 0.25rem;
  }
}

.option-container {
  display: flex;
  margin-top: 0.5rem;

  p {
    margin-right: 1rem;
  }
  .toggle-container{
    display:flex;
    flex-wrap:wrap;
    row-gap: 12px;

    mat-slide-toggle {
      margin-left: 0.5rem;
    }
  }
}
