  <div class="credential-container">
    <div class="title-credential">
      <h2>{{ "credentialOffer.first-step.title" | translate }}</h2>
    </div>
    <div class="content-container">
      <div class="qr-container">
        <qrcode class="qrcode" [qrdata]="walletUrl" [width]="200" [colorDark]="qrColor"></qrcode>
        <p class="links">
          <small>
            <!-- default wallet url (prd)-->
            <em>
              {{ "credentialOffer.unable" | translate }} 
              <a href='{{walletUrl}}' target='_blank'> 
                {{ "dome-wallet" | translate }}
              </a>
              .
            </em>
            <!-- test (non-prd) wallet url -->
            @if(profile === "lcl" || profile === "sbx" || profile === "test"){
              <small class="test-warn"> {{ "credentialOffer.first-step.test-purposes" | translate }} 
                <a href="{{walletTestUrl}}" target="_blank">
                  {{profile|uppercase}} {{"credentialOffer.environment-wallet" | translate }}
                </a>
              .
            </small>
            }            
          </small>
        </p>
        <p>
          <small>
            <em>
              {{ "credentialOffer.first-assistance" | translate }} 
              <a href="{{walletUsersGuideUrl}}" 
              target="_blank">
              {{ "credentialOffer.wallet-guide" | translate }} 
              </a>
              {{ "credentialOffer.second-assistance" | translate }} 
            </em>
          </small>
        </p>
      </div>
    </div>
  </div>
