  <div class="credential-container">
    <div class="title-credential">
      <h2>{{ "credentialOffer.first-step.title" | translate }}</h2>
    </div>
    <div class="content-container">
      <div class="qr-container">
        <qrcode class="qrcode" [qrdata]="walletUrl" [width]="200" [colorDark]="qrColor"></qrcode>
        <p class="unable-text">
          <small>
            <!-- default wallet url (prd)-->
              {{ "credentialOffer.unable" | translate }} 
              <a href='{{walletUrl}}' target='_blank'> 
                {{ "dome-wallet" | translate }}
              </a>
              .
            <!-- test (non-prd) wallet url -->
            @if(showWalletSameDeviceUrlTest){
              <small class="test-warn"> {{ "credentialOffer.first-step.test-purposes" | translate }} 
                <a href="{{walletTestUrl}}" target="_blank">
                  {{"credentialOffer.environment-wallet" | translate }}
                </a>
              .
            </small>
            }            
          </small>
        </p>
        <p class="guide-text">
          <small>
              {{ "credentialOffer.first-assistance" | translate }} 
              <a href="{{walletUsersGuideUrl}}" 
              target="_blank">
              {{ "credentialOffer.wallet-guide" | translate }} 
              </a>
              {{ "credentialOffer.second-assistance" | translate }} 
          </small>
        </p>
      </div>
    </div>
  </div>
