  <div class="credential-container">
    <div class="title-credential">
      <h2>Scan the QR code to log in and access the DOME Wallet.</h2>
    </div>
    <div class="content-container">
      <div class="qr-container">
        <qrcode [qrdata]="walletUrl" [width]="200" [colorDark]="qrColor"></qrcode>
        <p class="links">
          <small>
            <!-- default wallet url -->
            <em>Unable to scan the QR code? Click the link below to access the
              <a href="{{walletUrl}}" target="_blank">
                DOME Wallet.
              </a>
            </em>
            <!-- test (prd) wallet url -->
            @if(profile === "lcl" || profile === "sbx" || profile === "dev2"){
              <small class="test-warn">For tests purposes, access the <a href="{{walletTestUrl}}" target="_blank">{{profile|uppercase}} environment Wallet.</a></small>
            }            
          </small>
        </p>
        <p>
          <small>
            <em>Check the 
              <a href="{{walletUsersGuideUrl}}" 
              target="_blank">
                Wallet Users Guide
              </a>
              for assistance.
            </em>
          </small>
        </p>
      </div>
    </div>
  </div>
