<div class="credential-container">
  <div class="title-credential">
    <h2>Scan the QR code to obtain the credential.</h2>
  </div>
  <div class="content-container">
    @if(credentialOfferUri$()){
      <qrcode [qrdata]="walletSameDeviceUrl$()" [width]="200" [colorDark]="qrColor" [errorCorrectionLevel]="'M'"></qrcode>
      <p>
        <small>
          <em>Unable to scan the QR? Click the link below to access the
            <a [href]="walletSameDeviceUrl$()" target="_blank">Verifiable Credential</a> directly
          </em>
        </small>
      </p>
      <p>
        <small>
          <em>Check the 
            <a href="{{walletUsersGuideUrl}}" target="_blank">Wallet Users Guide</a>
             for assistance.
          </em>
        </small>
      </p>
    }@else {
        <p>No QR data.</p>
    }
  </div>
</div>