<div class="credential-container">
  <div class="title-credential">
    <h2>{{ "credentialOffer.second-step.title" | translate }}</h2>
  </div>
  <div class="content-container">
    @if(credentialOfferUri$()){
      <qrcode class="qrcode" [qrdata]="'credentialOfferUri$()'" [width]="200" [colorDark]="qrColor" [errorCorrectionLevel]="'M'"></qrcode>
      <p class="unable-text">
        <small>
          <!-- default same-device wallet url (prd)-->
          {{ "credentialOffer.unable" | translate }}
            <a [href]="walletSameDeviceUrl$()" target="_blank">
              {{ "verifiable-credential" | translate }}
            </a> 
            {{ "credentialOffer.second-step.directly" | translate }}.
            <!-- default same-device wallet url (prd)-->
            @if(profile === "lcl" || profile === "sbx" || profile === "test"){ 
              <small class="test-warn">
                {{ "credentialOffer.second-step.test-purposes" | translate }}
                <a href="{{walletSameDeviceTestUrl$()}}" target="_blank">
                  {{profile|uppercase}} {{"credentialOffer.environment-wallet" | translate }}.
                </a>
              </small>
            }
        </small>
      </p>
      <p>
        <small>
          <br>
          <br>
            {{ "credentialOffer.second-step.refresh-text" | translate }}
            <a href="#" (click)="onRefreshCredentialClick($event)">{{ "credentialOffer.second-step.refresh-link" | translate }}</a>.
        </small>
      </p>
      <p class="guide-text">
        <small>
            {{ "credentialOffer.first-assistance" | translate }} 
            <a href="{{walletUsersGuideUrl}}" 
            target="_blank">
            {{ "credentialOffer.wallet-guide" | translate }} 
            </a>
            {{ "credentialOffer.second-assistance" | translate }} 
        </small>
      </p>
    }@else {
      <p>{{ "credentialOffer.no-data" | translate }}</p>
    }
  </div>
</div>