<div class="credential-container">
  <div class="title-credential">
    <h2>Scan the QR code to obtain the credential.</h2>
  </div>
  <div class="content-container">
    @if(credentialOfferUri$()){
      <qrcode [qrdata]="credentialOfferUri$()" [width]="200" [colorDark]="qrColor" [errorCorrectionLevel]="'M'"></qrcode>
      <p>
        <small>
          <em>Unable to scan the QR code? Click the link below to access the
              <a [href]="walletSameDeviceUrl$()" target="_blank">Verifiable Credential</a> directly.
              @if(profile === "lcl" || profile === "sbx" || profile === "test"){ 
                <small class="test-warn">For tests purposes, get the Verifiable Credential with the <a href="{{walletSameDeviceTestUrl$()}}" target="_blank">{{profile|uppercase}} environment Wallet.</a></small>
              }
          </em>
        </small>
      </p>
      <p>
        <small>
          <em>Do you have problems when getting the credential with the Wallet?
            <a href="#" (click)="onRefreshCredentialClick($event)">Get a new credential</a>.
          </em>
        </small>
      </p>
      <p>
        <small>
          <em>Check the 
            <a href="{{walletUsersGuideUrl}}" target="_blank">Wallet Users Guide</a>
             for assistance.
          </em>
        </small>
      </p>
    }@else {
        <p>No QR data.</p>
    }
  </div>
</div>