<form [formGroup]="cloudProviderCredential" class="form-container">

  @if(formMode!='delete'){
    <div class="row">
      <mat-form-field class="col" appearance="fill">
        <mat-label>{{ "signature.settings.formCloudPrivider.cloudProvider"| translate }}</mat-label>
        <mat-select formControlName="cloudProviderId"  (selectionChange)="onProviderChange($event.value)" required>
          @for(provider of cloudProviders; track $index){
              <mat-option [value]="provider.id">
                {{ provider.provider }}
              </mat-option>
          }
        </mat-select>
        @if(cloudProviderCredential.get('cloudProviderId')?.hasError('required')){
          <mat-error >
            {{ "error.form.required"| translate }}
          </mat-error>
        }
      </mat-form-field>
  
      <mat-form-field class="col" appearance="fill">
        <mat-label>{{ "signature.settings.formCloudPrivider.credentialName"| translate }}</mat-label>
        <input matInput formControlName="credentialName"  maxlength="255" required>
          @if(cloudProviderCredential.get('credentialName')?.hasError('required')){
            <mat-error >
              {{ "error.form.required"| translate }}
            </mat-error>
          }
      </mat-form-field>
    </div>
  
    <div class="row">
      <mat-form-field class="col" appearance="fill">
        <mat-label>{{ "signature.settings.formCloudPrivider.clientId"| translate }}</mat-label>
        <input matInput formControlName="clientId" maxlength="255" required>
          @if(cloudProviderCredential.get('clientId')?.hasError('required')){
          <mat-error >
            {{ "error.form.required"| translate }}
          </mat-error>
          }
      </mat-form-field>
  
      <mat-form-field class="col" appearance="fill">
        <mat-label>{{ "signature.settings.formCloudPrivider.clientSecret"| translate }} </mat-label>
        <input matInput  [type]="showClientSecret ? 'text' : 'password'" formControlName="clientSecret" maxlength="255"  [required]="formMode=='create'" (focus)="clearOnFocus('clientSecret')">
        <button  mat-icon-button matSuffix type="button" (click)="showClientSecret = !showClientSecret"  
          [attr.aria-label]="'Toggle password visibility'">
          <mat-icon>{{ showClientSecret ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
          @if(cloudProviderCredential.get('clientSecret')?.hasError('required')){
            <mat-error >
              {{ "error.form.required"| translate }}
            </mat-error>
          }
      </mat-form-field>
    </div>
  
    <div class="row">
      <mat-form-field class="col" appearance="fill">
        <mat-label>{{ "signature.settings.formCloudPrivider.credentialId"| translate }}</mat-label>
        <input matInput formControlName="credentialId" maxlength="255"  required>
          @if(cloudProviderCredential.get('credentialId')?.hasError('required')){
            <mat-error >
              {{ "error.form.required"| translate }}
            </mat-error>
          }
      </mat-form-field>
  
      <mat-form-field class="col" appearance="fill">
        <mat-label>{{ "signature.settings.formCloudPrivider.credentialPassword"| translate }}</mat-label>
        <input matInput  [type]="showCredentialPassword ? 'text' : 'password'" formControlName="credentialPassword" maxlength="255" [required]="formMode=='create'" (focus)="clearOnFocus('credentialPassword')">
        <button  mat-icon-button matSuffix type="button" (click)="showCredentialPassword = !showCredentialPassword"
          [attr.aria-label]="'Toggle password visibility'">
          <mat-icon>{{ showCredentialPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
          @if(cloudProviderCredential.get('credentialPassword')?.hasError('required')){
            <mat-error >
              {{ "error.form.required"| translate }}
            </mat-error>
          }
      </mat-form-field>
  
      <mat-form-field class="col" appearance="fill">
        <mat-label>{{ "signature.settings.formCloudPrivider.secret"| translate }}</mat-label>
        <input matInput  [type]="showSecret ? 'text' : 'password'" formControlName="secret" maxlength="255" [required]="requiresTOTP" (focus)="clearOnFocus('secret')">
        <button  mat-icon-button matSuffix type="button" (click)="showSecret = !showSecret"
          [attr.aria-label]="'Toggle password visibility'">
           <mat-icon>{{ showSecret ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
          @if(cloudProviderCredential.get('secret')?.hasError('required')){
            <mat-error >
              {{ "error.form.required"| translate }}
            </mat-error>
          }
      </mat-form-field>
    </div>

  }
  @if(formMode=='delete'){
    <p>{{ "signature.settings.modal.delete.message"| translate }}</p>
  }
  @if(formMode!='create'){
    <div class="row">
      <mat-form-field class="col" appearance="fill">
        <mat-label>{{ "signature.settings.formCloudPrivider.rationale"| translate }}</mat-label>
        <input matInput formControlName="rationale" required>
          @if(cloudProviderCredential.get('rationale')?.hasError('required')){
            <mat-error >
              {{ "error.form.required"| translate }}
            </mat-error>
          }
      </mat-form-field>
    </div>
  }
</form>
