<button type="button" [routerLink]="['/organization/credentials']" class="back-button" aria-label="Back to credentials">
  <mat-icon class="back-icon" fontIcon="arrow_back"></mat-icon>
</button>
<div class="page-container">
  <h1>{{ "title" | addPrefix: 'credentialDetails.' | translate | capitalize }}</h1>

    @if (credentialDetailsForm() && credentialDetailsFormSchema()) {
      <form [formGroup]="credentialDetailsForm()!" class="details-container">

        <!-- MAIN CONTAINER -->
        <div class="main-container">
          <mat-card>
            <mat-card-content>
          @for (key of formKeys(credentialDetailsForm()!); track key) {
            @if (credentialDetailsFormSchema()![key]?.display !== 'side') {
              @switch (getControlType(credentialDetailsForm()!.get(key))) {

                @case ('group') {
                  <div [formGroupName]="key">
                    <h2>{{ key | addPrefix: 'credentialDetails.' | translate | capitalize }}</h2>
                    @for (childKey of formKeys(credentialDetailsForm()!.get(key)); track childKey) {
                      @switch (getControlType(credentialDetailsForm()!.get(key)!.get(childKey))) {

                        @case ('group') {
                          <div [formGroupName]="childKey">
                            <h3>{{ childKey | addPrefix: 'credentialDetails.' | translate | capitalize }}</h3>
                            @for (grandChildKey of formKeys(credentialDetailsForm()!.get(key)!.get(childKey)); track grandChildKey) {
                              <mat-form-field appearance="fill">
                                <mat-label>{{ grandChildKey | addPrefix: 'credentialDetails.' | translate | capitalize }}</mat-label>
                                <input matInput [formControlName]="grandChildKey" />
                              </mat-form-field>
                            }
                          </div>
                        }

                        @case ('control') {
                          <div>
                            <mat-form-field appearance="fill">
                              <mat-label>{{ childKey | addPrefix: 'credentialDetails.' | translate | capitalize }}</mat-label>
                              <input matInput [formControlName]="childKey" />
                            </mat-form-field>
                          </div>
                        }

                      }
                    }
                  </div>
                }

                @case ('array') {
                  <div [formArrayName]="key">
                    <h2>{{ key | addPrefix: 'credentialDetails.' | translate | capitalize }}</h2>
                
                    <!-- POWER -->
                    @if (key === 'power') {
                      <div class="powers-container">
                      @for (group of asFormArray(credentialDetailsForm()!.get(key)).controls; let i = $index; track i) {
                       
                          <p>{{ group.get('function')?.value }}</p>
                          <div [formGroupName]="i" class="functions-container">
                            <div class="toggles-container">
                              @for (action of getActionsForFunction(group.get('function')?.value); track action) {
                                <mat-slide-toggle
                                  [checked]="group.get('action')?.value.includes(action)"
                                  disabled
                                  color="primary">
                                  {{ action }}
                                </mat-slide-toggle>
                              }
                            </div>
                          </div>
                      }
                     </div>
                    }
                    <!-- NON-POWER ARRAYS (currently there are none) -->
                    @else {
                      @for (group of asFormArray(credentialDetailsForm()!.get(key)).controls; let i = $index; track i) {
                        <div [formGroupName]="i">
                          @for (childKey of formKeys(group); track childKey) {
                            <mat-form-field appearance="fill">
                              <mat-label>{{ childKey }}</mat-label>
                              <input matInput [formControlName]="childKey" />
                            </mat-form-field>
                          }
                        </div>
                      }
                    }
                
                  </div>
                }
                

              }
            }
          }
          <div class="buttons-container">
            @if (showReminderButton()) {
            <div class="btn-reminder">
              <button
                type="button"
                mat-raised-button
                color="primary"
                [disabled]="isLoading$|async"
                (click)="openSendReminderDialog()"
                >
                {{ "credentialDetail.sendReminderConfirm.title" | translate }}
              </button>
            </div>
          }
          @if (showSignCredentialButton()) {
            <div class="btn-sign">
              <button
              type="button"
              mat-raised-button
              color="primary"
              (click)="openSignCredentialDialog()"
              [disabled]="isLoading$|async"
              >
                {{ "credentialDetail.signCredentialConfirm.title" | translate }}
              </button>
            </div>
          }
          </div>
        </mat-card-content>
          </mat-card>
        </div>

        <!-- SIDE CONTAINER (as plain text) -->
        <div class="side-container">
          @for (key of formKeys(credentialDetailsForm()); track key) {
            @if (credentialDetailsFormSchema()![key].display === 'side') {
              @switch (getControlType(credentialDetailsForm()!.get(key))) {

                @case ('group') {
                  <div class="side-card">
                    <h2>{{ key | addPrefix: 'credentialDetails.' | translate | capitalize }}</h2>
                    <mat-card-content>
                    @for (childKey of formKeys(credentialDetailsForm()!.get(key)); track childKey) {
                      @switch (getControlType(credentialDetailsForm()!.get(key)!.get(childKey))) {

                        @case ('group') {
                            <h3>{{ childKey | addPrefix: 'credentialDetails.' | translate | capitalize }}</h3>
                            @for (grandChildKey of formKeys(credentialDetailsForm()!.get(key)!.get(childKey)); track grandChildKey) {
                              <h5>{{ grandChildKey | addPrefix: 'credentialDetails.' | translate | capitalize }}</h5>
                              <p>{{ credentialDetailsForm()!.get(key)!.get(childKey)!.get(grandChildKey)!.value }}</p>
                            }
                          }
                          
                          @case ('control') {
                            <h5>{{ childKey | addPrefix: 'credentialDetails.' | translate | capitalize }}</h5>
                            <p>{{ credentialDetailsForm()!.get(key)!.get(childKey)!.value }}</p>
                          }
                          
                        }
                      }
                    </mat-card-content>
                    </div>
                }

                @case ('array') {
                  <div class="side-card">
                    <h2>{{ key | addPrefix: 'credentialDetails.' | translate | capitalize }}</h2>
                    @for (group of asFormArray(credentialDetailsForm()!.get(key)).controls; track $index) {
                      <mat-card-content>
                        @for (childKey of formKeys(group); track childKey) {
                          <h5>{{ childKey }}</h5>
                          <p>{{ group.get(childKey)!.value }}</p>
                        }
                      </mat-card-content>
                    }
                  </div>
                }

              }
            }
          }
        </div>

      </form>
    }
</div>