<button type="button" [routerLink]="['/organization/credentials']" class="back-button" aria-label="Back to credentials">
  <mat-icon class="back-icon" fontIcon="arrow_back"></mat-icon>
</button>
<div class="page-container">
  <h1>{{ "credentialDetails.title" | translate | capitalize }}</h1>
  @if (credentialType$() && credentialDetailsForm$() && credentialDetailsFormSchema$()) {
    <!-- BASIC INFO -->
    <mat-card class="basic-info-container">
      <mat-card-content>
        <!-- todo translation -->
        <div>
          <h2>{{ "credentialDetails.basic_info" | translate | capitalize }}</h2>
          <div class="basic-info">
            <span><b>{{ credentialType$() }}</b></span>
            <span class="status-ellipse"               [ngClass]="{
              'status-valid': credentialStatus$() === 'VALID',
              'status-draft': credentialStatus$()  === 'DRAFT',
              'status-expired': credentialStatus$()  === 'EXPIRED',
              'status-default': credentialStatus$()  !== 'VALID' &&
              credentialStatus$()  !== 'DRAFT' &&
              credentialStatus$()  !== 'EXPIRED'
            }">{{ credentialStatus$() }}</span>
            <span><b>{{ "credentialDetails.valid_from" | translate | capitalize }}:</b> {{ credentialValidFrom$() | date: 'dd-MM-yyyy' }}</span>
            <span><b>{{ "credentialDetails.valid_until" | translate | capitalize }}:</b> {{ credentialValidUntil$() | date: 'dd-MM-yyyy' }}</span>
          </div>
          
        </div>
     </mat-card-content>
    </mat-card>

    <!-- ACTION BUTTONS -->
    <!-- todo translation -->
    @if(showReminderButton$() || showSignCredentialButton$() ){
      <mat-card class="basic-info-container">
        <mat-card-content>
          <div>
            <h2>Actions</h2>
            <!-- BUTTONS -->
            <div class="buttons-container">
              @if (showReminderButton$()) {
              <div class="btn-reminder">
                <button
                  type="button"
                  mat-raised-button
                  color="primary"
                  [disabled]="isLoading$|async"
                  (click)="openSendReminderDialog()"
                  >
                  {{ "credentialDetails.sendReminderConfirm.title" | translate }}
                </button>
              </div>
            }
            @if (showSignCredentialButton$()) {
              <div class="btn-sign">
                <button
                type="button"
                mat-raised-button
                color="primary"
                (click)="openSignCredentialDialog()"
                [disabled]="isLoading$|async"
                >
                  {{ "credentialDetails.signCredentialConfirm.title" | translate }}
                </button>
              </div>
            }
            </div>
          </div>
      </mat-card-content>
      </mat-card>
    }
    <form [formGroup]="credentialDetailsForm$()!" class="specific-details-container">


        <!-- MAIN CONTAINER -->
        <div class="main-container">
          <mat-card>
            <mat-card-content>
          @for (key of formKeys(credentialDetailsForm$()!); track key) {
            @if (credentialDetailsFormSchema$()![key].display === 'main') {
              @switch (getControlType(credentialDetailsForm$()!.get(key))) {

                @case ('group') {
                  <div [formGroupName]="key">
                    <h2>{{ key | addPrefix: 'credentialDetails.' | translate | capitalize }}</h2>
                    @if (key === 'compliance') {
                      @for (standard of formKeys(credentialDetailsForm$()!.get(key)); track standard) {
                        <div [formGroupName]="standard">
                          <h3>{{ standard }}</h3>
                          @for (field of formKeys(credentialDetailsForm$()!.get(key)!.get(standard)); track field) {
                            <mat-form-field appearance="fill">
                              <mat-label>{{ field | addPrefix: 'credentialDetails.' | translate | capitalize }}</mat-label>
                              <input matInput [formControlName]="field" />
                            </mat-form-field>
                          }
                        </div>
                      }
                    } 
                    @else if(key === 'power') {
                      <div class="powers-container">
                        @for (func of formKeys(credentialDetailsForm$()!.get(key)); track func) {
                          <p>{{ func }}</p>
                          <div [formGroupName]="func" class="functions-container">
                            <div class="toggles-container">
                              @for (action of formKeys(credentialDetailsForm$()!.get(key)!.get(func)); track action) {
                                <mat-slide-toggle
                                  [checked]="credentialDetailsForm$()!.get(key)!.get(func)!.get(action)!.value"
                                  disabled
                                  color="primary">
                                  {{ action }}
                                </mat-slide-toggle>
                              }
                            </div>
                          </div>
                        }
                      </div>
                    }
                    @else {
                      @for (childKey of formKeys(credentialDetailsForm$()!.get(key)); track childKey) {
                        @switch (getControlType(credentialDetailsForm$()!.get(key)!.get(childKey))) {
                
                          @case ('group') {
                            <div [formGroupName]="childKey">
                              <h3>{{ childKey | addPrefix: 'credentialDetails.' | translate | capitalize }}</h3>
                              @for (grandChildKey of formKeys(credentialDetailsForm$()!.get(key)!.get(childKey)); track grandChildKey) {
                                <mat-form-field appearance="fill">
                                  <mat-label>{{ grandChildKey | addPrefix: 'credentialDetails.' | translate | capitalize }}</mat-label>
                                  <input matInput [formControlName]="grandChildKey" />
                                </mat-form-field>
                              }
                            </div>
                          }
                
                          @case ('control') {
                            <div>
                              <mat-form-field appearance="fill">
                                <mat-label>{{ childKey | addPrefix: 'credentialDetails.' | translate | capitalize }}</mat-label>
                                <input matInput [formControlName]="childKey" />
                              </mat-form-field>
                            </div>
                          }
                
                        }
                      }
                    }
                  </div>
                }       
              }
            }
          }
        </mat-card-content>
          </mat-card>
        </div>
        <!-- END MAIN CONTAINER -->
         
        <!-- SIDE CONTAINER (as plain text) -->
        <div class="side-container">
          @for (key of formKeys(credentialDetailsForm$()); track key) {
            @if (credentialDetailsFormSchema$()![key].display === 'side') {
              @switch (getControlType(credentialDetailsForm$()!.get(key))) {

                @case ('group') {
                  <div class="side-card">
                    <h2>{{ key | addPrefix: 'credentialDetails.' | translate | capitalize }}</h2>
                    <mat-card-content>
                    @for (childKey of formKeys(credentialDetailsForm$()!.get(key)); track childKey) {
                      @switch (getControlType(credentialDetailsForm$()!.get(key)!.get(childKey))) {

                        @case ('group') {
                            <h3>{{ childKey | addPrefix: 'credentialDetails.' | translate | capitalize }}</h3>
                            @for (grandChildKey of formKeys(credentialDetailsForm$()!.get(key)!.get(childKey)); track grandChildKey) {
                              <h5>{{ grandChildKey | addPrefix: 'credentialDetails.' | translate | capitalize }}</h5>
                              <p>{{ credentialDetailsForm$()!.get(key)!.get(childKey)!.get(grandChildKey)!.value }}</p>
                            }
                          }
                          
                          @case ('control') {
                            <h5>{{ childKey | addPrefix: 'credentialDetails.' | translate | capitalize }}</h5>
                            <p>{{ credentialDetailsForm$()!.get(key)!.get(childKey)!.value }}</p>
                          }
                          
                        }
                      }
                    </mat-card-content>
                    </div>
                }

              }
            }
          }
        </div>

      </form>
    }
</div>