@if(credential?.vc?.credentialSubject?.mandate?.mandatee){
  <app-form-credential
    [title]="'credentialDetail.credentialDetails' | translate"
    [isDisabled]="true"
    [credential]="credential!.vc.credentialSubject.mandate.mandatee"
    [power]="credential!.vc.credentialSubject.mandate.power"
    [mandator]="credential!.vc.credentialSubject.mandate.mandator"
    [credentialStatus]="credentialStatus!"
    (sendReminder)="openSendReminderDialog()"
    (signCredential)="openSignCredentialDialog()"
    [viewMode]="'detail'"
  ></app-form-credential>
}