<app-navbar></app-navbar>
<div class="page-container">
  <h1>Verifiable Certification Details</h1>
  <div class="credential-container">
    <mat-card>
      <h2>Credential Status: {{ credentialStatus }}</h2>
      <mat-card-content>
        <h3>Issuer Information</h3>
        <p><strong>Organization:</strong> {{ issuer?.organization }}</p>
        <p><strong>Common Name:</strong> {{ issuer?.commonName }}</p>
        <p><strong>Country:</strong> {{ issuer?.country }}</p>
        <p><strong>ID:</strong> {{ issuer?.id }}</p>
      </mat-card-content>
    </mat-card>

    <!-- Tarjeta para Company -->
    <mat-card>
      <mat-card-content>
        <h3>Company Information</h3>
        <p><strong>Organization:</strong> {{ company?.organization }}</p>
        <p><strong>Common Name:</strong> {{ company?.commonName }}</p>
        <p><strong>Address:</strong> {{ company?.address }}</p>
        <p><strong>Email:</strong> {{ company?.email }}</p>
        <p><strong>Country:</strong> {{ company?.country }}</p>
        <p><strong>ID:</strong> {{ company?.id }}</p>
      </mat-card-content>
    </mat-card>

    <!-- Tarjeta para Compliance (si existe) -->
    <mat-card *ngIf="complianceList && complianceList.length > 0">
      <mat-card-content>
        <h3>Compliance</h3>
        <ul>
          <li *ngFor="let c of complianceList">
            <strong>Standard:</strong> {{ c.standard }},
            <strong>Scope:</strong> {{ c.scope }}
            (ID: {{ c.id }})
          </li>
        </ul>
      </mat-card-content>
    </mat-card>

    <!-- Tarjeta para Product -->
    <mat-card>
      <mat-card-content>
        <h3>Product</h3>
        <p><strong>Product Name:</strong> {{ product?.productName }}</p>
        <p><strong>Version:</strong> {{ product?.productVersion }}</p>
        <p><strong>ID:</strong> {{ product?.productId }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
