@import "../../../../../styles.scss";

.page-container {
  padding: 16px 16px 24px 16px;
}

.credential-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 100%;
}

.company-container mat-card, .issuer-container {
  background: #fff;
  box-shadow: 8px 8px 10px #cacaca, -8px -8px 10px #f6f6f6;
  border-radius: 5px;

  h2 {
    padding: 16px 16px 0 16px;
    margin-top: 0;
  }

  mat-card-content {
    padding: 16px;

    mat-form-field {
      width: 100%;
      background: #f5f5f5;
      margin-bottom: 12px;
    }
  }
}

.compliance-list {
  list-style-type: disc;
  padding-left: 20px;
  li {
    margin-bottom: 8px;
  }
}

/* Issuer vuelve al formato anterior */
.issuer-container {
  border-radius: 5px;
  background: #dde6f6;
  box-shadow: 8px 8px 10px #cacaca, -8px -8px 10px #f6f6f6;
  padding: 16px;
  max-width: 400px;

  h2 {
    margin-top: 0;
    margin-bottom: 16px;
  }

  mat-card-content {
    padding-left: 0.5rem;
    text-align: start;

    h5 {
      font-weight: bold;
      margin-bottom:6px;
      margin-top:12px;
    }

    p {
      margin-bottom:12px;
    }
  }
}

@media (width > 768px) {
  .page-container {
    max-width: 1000px;
    margin-inline: auto;
    padding: 20px 20px 30px 20px;
  }

  .credential-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .company-container {
    flex: 1 1 65%;

    mat-card {
      margin-bottom: 24px;
    }
  }

  .issuer-container {
    align-self: flex-start;
  }
}
