<app-navbar></app-navbar>
<div class="page-container">
  <h1>Verifiable Certification Details</h1>
  <div class="credential-container">
    <div class="company-container">

      <!-- Company -->
      <mat-card>
        <h2>Company</h2>
        <mat-card-content>
          <h5>ID</h5>
          <p>{{ company?.id }}</p>

          <h5>Organization</h5>
          <p>{{ company?.organization }}</p>

          <h5>Common Name</h5>
          <p>{{ company?.commonName }}</p>

          <h5>Address</h5>
          <p>{{ company?.address }}</p>

          <h5>Email</h5>
          <p>{{ company?.email }}</p>

          <h5>Country</h5>
          <p>{{ company?.country }}</p>
        </mat-card-content>
      </mat-card>

      <!-- Product -->
      <mat-card>
        <h2>Product</h2>
        <mat-card-content>
          <h5>ID</h5>
          <p>{{ product?.productId }}</p>

          <h5>Product Name</h5>
          <p>{{ product?.productName }}</p>

          <h5>Version</h5>
          <p>{{ product?.productVersion }}</p>
        </mat-card-content>
      </mat-card>

      <!-- Compliance ISOs -->
      <mat-card>
        <h2>Compliance ISOs</h2>
        <mat-card-content>
          <ul>
            <li *ngFor="let c of complianceList">
              <strong>{{ c.standard }}:</strong> {{ c.scope }}
            </li>
          </ul>
        </mat-card-content>
      </mat-card>

    </div>

    <div class="issuer-container">
      <h2>Issuer</h2>
      <mat-card-content>
        <h5>ID</h5>
        <p>{{ issuer?.id }}</p>

        <h5>Organization</h5>
        <p>{{ issuer?.organization }}</p>

        <h5>Common Name</h5>
        <p>{{ issuer?.commonName }}</p>

        <h5>Country</h5>
        <p>{{ issuer?.country }}</p>
      </mat-card-content>
    </div>
  </div>
</div>
