@import "../../../../../styles.scss";

.page-container {
  padding: 16px 16px 24px 16px;
}

.credential-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 100%;
}

/* Contenedor izquierdo similar a Mandatee-container */
.company-container {
  mat-card {
    background: #fff;
    box-shadow: 8px 8px 10px #cacaca, -8px -8px 10px #f6f6f6;
    border-radius: 5px;

    h2 {
      padding: 16px 16px 0 16px;
      margin-top:0;
    }

    mat-card-content {
      padding: 16px;

      h5 {
        font-weight: bold;
        margin-bottom:6px;
        margin-top:12px;
      }

      p {
        margin-bottom:12px;
      }

      ul {
        list-style-type: disc;
        padding-left: 20px;
        li {
          margin-bottom: 8px;
        }
      }
    }

    & + mat-card {
      margin-top: 24px; /* Separación entre cards */
    }
  }

  /* Espacio entre el último mat-card y el issuer-container */
  mat-card:last-of-type {
    margin-bottom: 24px;
  }
}

/* Contenedor derecho similar a Mandator-container */
.issuer-container {
  border-radius: 5px;
  background: #dde6f6;
  box-shadow: 8px 8px 10px #cacaca, -8px -8px 10px #f6f6f6;
  padding: 16px;
  max-width: 400px;

  h2 {
    padding: 16px 16px 0px 16px;
    margin-top:0;
  }

  mat-card-content {
    padding-left: 0.5rem;
    text-align: start;

    h5 {
      font-weight: bold;
      margin-bottom:6px;
      margin-top:12px;
    }

    p {
      margin-bottom:12px;
    }
  }
}

@media (width > 768px) {
  .page-container {
    max-width:1000px;
    margin-inline:auto;
    padding: 20px 20px 30px 20px;
  }

  .credential-container {
    flex-direction: row;
  }

  .company-container {
    flex: 1 1 65%;
  }

  .issuer-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    max-width: 400px;
  }
}
