<app-navbar></app-navbar>
<div class="credential-card">
  <div class="credential-container">
    <div class="title-credential">
      <h2>{{"credentialOffer.credentialDetail" | translate}}</h2>
      <p>{{"credentialOffer.textinformation" | translate}}</p>
    </div>
    <div class="content-container">
      <div class="qr-container">
        <p>{{"credentialOffer.first-step" | translate}}<a href="{{walletUrl}}">Wallet Application</a>.</p>
        <p><small><em>Need help? Check the
          <a href="https://knowledgebase.dome-marketplace-prd.org/books/dome-digital-wallet-user-guide">Wallet Guide</a> for detailed instructions.</em></small></p>
        <p>{{"credentialOffer.second-step" | translate}}</p>
        <p>{{"credentialOffer.third-step" | translate}}<a href="{{walletUrl}}">Wallet Application</a>.</p>
        <p>{{"credentialOffer.fourth-step" | translate}}</p>
      </div>
    </div>
    <button mat-raised-button color="primary" (click)="redirect()">{{"credentialOffer.button-text" | translate}}</button>
  </div>
</div>
