<!-- todo translations -->
<div class="credential-card">
  <div class="credential-container">
    <div class="title-credential">
      <h2>Scan the QR code to log in and access the Wallet</h2>
    </div>
    <div class="content-container">
      <div class="qr-container">
        <!-- todo make blue -->
         <!-- todo [errorCorrectionLevel]="'M'" -->
        <qrcode [qrdata]="walletUrl" [width]="256" [colorDark]="qrColor"></qrcode>
        <p class="wallet-info">
          <small>
            <em>Unable to scan the QR? Click the link below to access the
              <a href="{{walletUrl}}">DOME Wallet.</a>
            </em>
          </small>
        </p>
        <p>
          <small>
            <em>Check the 
              <!-- todo posar link en variable? -->
              <a href="https://knowledgebase.dome-marketplace-prd.org/books/dome-digital-wallet-user-guide">Wallet Users Guide</a>
              for assitance.
            </em>
          </small>
        </p>
      </div>
    </div>
  </div>
</div>
