<div class="credendial-container">
  <div class="mandatee-container">
    <div class="title-credendial">
      <h1>Create new credential</h1>
    </div>
    <mat-card>
      <h2 class="manda">Mandatee</h2>
      <mat-card-content>
        <form>
          <mat-form-field>
            <mat-label>First name</mat-label>
            <input matInput type="text" name="firstname" [disabled]="isDisabled"/>
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-label>Last name</mat-label>
            <input matInput type="text" name="lastname" [disabled]="isDisabled"/>
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-label>Email addres</mat-label>
            <input matInput type="text" name="emailaddress" [disabled]="isDisabled"/>
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-label>Mobile phone</mat-label>
            <input matInput type="text" name="mobile phone" [disabled]="isDisabled"/>
          </mat-form-field>

          <h2>Powers</h2>
          <br/>
          <div class="power">
            <div class="domain">
              <p>Domain</p>
              <p>Dome</p>
            </div>
            <div class="function">
              <p>Function</p>
              <select class="select-options" [(ngModel)]="selectedOption" [disabled]="isDisabled" name="selectedOption">
                <option value="Onboarding">Onboarding</option>
                <option value="Product offer">Product offer</option>
              </select>
              <button class="add-option-btn" [disabled]="isDisabled" (click)="addOption()">Add</button>
            </div>
          </div>

          <div *ngFor="let option of addedOptions; let i = index" class="option-container" >
            <p>{{ option.name }}</p>
            <mat-slide-toggle [(ngModel)]="option.execute" name="execute-{{i}}" [disabled]="isDisabled">Execute</mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="option.create" name="create-{{i}}" [disabled]="isDisabled">Create</mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="option.update" name="update-{{i}}" [disabled]="isDisabled">Update</mat-slide-toggle>
            <mat-slide-toggle [(ngModel)]="option.delete" name="delete-{{i}}" [disabled]="isDisabled">Delete</mat-slide-toggle>
          </div>
          <br />
          <button mat-raised-button color="primary" type="submit" [disabled]="isDisabled">
            Cancel
          </button>
          <button mat-raised-button color="primary" type="submit" [disabled]="isDisabled">
            Create Credential
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mandator-container">
    <h2 class="manda">Mandator</h2>
    <br />
    <mat-card-content>
      <h6>Organization id</h6>
      <p>IDCES-21444555T</p>
      <h6>Organization</h6>
      <p>Tardis S.A.</p>
      <h6>Name</h6>
      <p>Tardis S.A.</p>
      <h6>Email adress</h6>
      <p>infinity&#64;timeless.org</p>
      <h6>Serial number</h6>
      <p>IDCES-21444555T</p>
      <h6>Country</h6>
      <p>ES</p>
    </mat-card-content>
  </div>
</div>
