@import "../../../../styles.scss";

// for width < 768px
:host{
  display:block;
  max-width:100%;
}
::ng-deep {
  .cdk-overlay-pane{
  width:auto !important;
  // height:170px;
}
div.mat-mdc-form-field-text-prefix:has(span.prefix-container){
  width: 55px;
}
.prefix-container{
  color: var(--mdc-filled-text-field-label-text-color);
}
.phone .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label{
  top:36px ;

  &.mdc-floating-label--float-above{
    top:28px;
  }
}

.country{
  .mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper{
    width:200px;
  }
}
}

.page-container{
  padding: 16px 16px 24px 16px;
}
.credendial-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width:100%;
}

.mandatee-container {
  mat-form-field {
    width: 100%;
  }
  .country-mobile {
    display: flex;
    flex-direction: column;
  }
}

.mandator-container {
  border-radius: 5px;
  background: #dde6f6;
  box-shadow: 8px 8px 10px #cacaca, -8px -8px 10px #f6f6f6;
  h5 {
    font-weight: bold;
    margin-bottom:6px;
  }
  mat-card {
    width: 100%;
    margin: auto;
    padding-left: 0.5rem;
    text-align: start;
  }

  .btn-reminder{
    padding:16px;
  }

}

.mandatee-container h2, .mandator-container h2{
  padding: 16px 16px 0px 16px;

  &.mandator-title{
    padding-left:0px;
  }
}

.cancel-or-create{
  display:flex;
  gap: 12px;
  padding-top:12px;
}

.power-alert{
  padding-top:10px;
  height:22px;
  color:$Blue;
  font-style:italic;
}

// MEDIA QUERIES
@media(width > 768px){
  .page-container{
    max-width:1000px;
    margin-inline:auto;
    padding: 20px 20px 30px 20px;
  }

  .credendial-container {
    flex-direction: row;
  }

  .mandatee-container {
    flex: 1 1 65%;

    .country-mobile {
      flex-direction: row;
      align-items: flex-start;
      gap: 1rem;

      .country {
        min-width: 10%;
      }
      .phone {
        width: calc(100%);
      }
    }
  }

  .mandator-container {
    display:flex;
    flex: 1 1 auto;
    flex-direction:column;
    max-width: 400px;
    
    &.signer{
      max-height:fit-content;
    }
  }

  .btn-reminder{
    margin-top: auto;
  }

}