<app-navbar></app-navbar>
  <div class="page-container">
  <h1>{{ title }}</h1>
  <div class="credendial-container">
    <div class="mandatee-container">
      <mat-card>
        <h2>Mandatee</h2>
        <mat-card-content>
          <form #form="ngForm" (ngSubmit)="submitCredential()" novalidate>
            <mat-form-field>
              <mat-label>{{ "mandatee.firstnameid" | translate }}</mat-label>
              <input
              [disabled]="isDisabled"

                matInput
                [(ngModel)]="credential.first_name"
                name="first_name"
                required
                pattern="[a-zA-Z ]*"
                #firstName="ngModel"
              />
              <mat-error *ngIf="firstName.errors && firstName.touched">
                {{
                  firstName.errors["required"]
                    ? "First name is required"
                    : firstName.errors["pattern"]
                    ? "Only letters and spaces are allowed."
                    : ""
                }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ "mandatee.last_name" | translate }}</mat-label>
              <input
              [disabled]="isDisabled"

                matInput
                [(ngModel)]="credential.last_name"
                name="last_name"
                required
                pattern="[a-zA-Z ]*"
                #lastName="ngModel"
              />
              <mat-error *ngIf="lastName.errors && lastName.touched">
                {{
                  lastName.errors["required"]
                    ? "Last name is required"
                    : lastName.errors["pattern"]
                    ? "Only letters and spaces are allowed."
                    : ""
                }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ "mandatee.email" | translate }}</mat-label>
              <input
              [disabled]="isDisabled"

                matInput
                [(ngModel)]="credential.email"
                name="email"
                required
                email
                #email="ngModel"
              />
              <mat-error *ngIf="email.errors && email.touched">
                {{
                  email.errors["required"]
                    ? "Email is required"
                    : email.errors["email"]
                    ? "Email is invalid."
                    : ""
                }}
              </mat-error>
            </mat-form-field>
            <div class="country-mobile">
              <div class="country">
                <mat-form-field>
                  <mat-label>{{ "mandator.country" | translate }}</mat-label>
                  <mat-select
                    [(ngModel)]="selectedCountry"
                    name="country"
                    #country="ngModel"
                    [disabled]="isDisabled"

                  >
                    <mat-option *ngFor="let country of countries" [value]="country.code">{{ country.name }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="country.touched && country.errors">
                    {{ country.errors['required'] ? 'Country is required.' : '' }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="phone">
                <mat-form-field>
                  <mat-label>{{ "mandatee.mobile_phone" | translate }}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="credential.mobile_phone"
                    name="mobile_phone"
                    [disabled]="isDisabled"
                    pattern="[0-9 ]*"
                    #mobile_phone="ngModel"
                  />
                  <mat-error *ngIf="mobile_phone.errors && mobile_phone.touched">
                    {{
                      mobile_phone.errors["required"]
                        ? "Mobile phone is required"
                        : mobile_phone.errors["pattern"]
                        ? "Only numbers"
                        : ""
                    }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div *ngIf="isValidOrganizationIdentifier">
              <h2>Mandator</h2>
              <mat-form-field>
                <mat-label>{{ "mandator.organizationid" | translate }}</mat-label>
                <input
                [disabled]="isDisabled"

                  matInput
                  [(ngModel)]="mandator.organizationIdentifier"
                  name="organizationIdentifier"
                  placeholder="VATEU-1234567"
                  required
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{ "mandator.organization" | translate }}</mat-label>
                <input
                [disabled]="isDisabled"

                  matInput
                  [(ngModel)]="mandator.organization"
                  name="organization"
                  placeholder="Organization Inc"
                  required
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{ "mandator.name" | translate }}</mat-label>
                <input
                [disabled]="isDisabled"

                  matInput
                  [(ngModel)]="mandator.commonName"
                  name="commonName"
                  placeholder="Jhon Doe"
                  required
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{ "mandator.email" | translate }}</mat-label>
                <input
                [disabled]="isDisabled"

                  matInput
                  [(ngModel)]="mandator.emailAddress"
                  name="emailAddress"
                  placeholder="name@mail.com"
                  required
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{ "mandator.serialNumber" | translate }}</mat-label>
                <input
                [disabled]="isDisabled"

                  matInput
                  [(ngModel)]="mandator.serialNumber"
                  name="serialNumber"
                  placeholder="123456"
                  required
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{ "mandator.country" | translate }}</mat-label>
                <input
                [disabled]="isDisabled"

                  matInput
                  [(ngModel)]="mandator.country"
                  name="country"
                  placeholder="UE"
                  required
                />
              </mat-form-field>
            </div>
      <app-power
        [isDisabled]="isDisabled"
        [viewMode]="viewMode"
        [power]="tempPowers"
        [addedOptions]="addedOptions"
        (addedOptionsChange)="addOption($event)"
        (selectedOptionChange)="selectedOption = $event"
        (handleSelectChange)="handleSelectChange($event)"
      ></app-power>
      <div class="cancel-or-create">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          *ngIf="hideButton"
          [routerLink]="['/organization/credentials']"
        >
          {{ "credentialManagement.cancel" | translate }}
        </button>
        <button
          mat-raised-button
          color="primary"
          *ngIf="hideButton"
          [disabled]="!form.valid || !hasSelectedPowers()"
        >
          {{ "credentialManagement.create" | translate }}
        </button>
    </div>
    </form>
  </mat-card-content>
  </mat-card>  </div>
    <div *ngIf="isValidOrganizationIdentifier" class="mandator-container">
      <h2>Mandator</h2>
      <mat-card-content>
        <h5>{{ "mandator.organizationid" | translate }}</h5>
        <p>{{ mandator.organizationIdentifier }}</p>
        <h5>{{ "mandator.organization" | translate }}</h5>
        <p>{{ mandator.organization  }}</p>
        <h5>{{ "mandator.name" | translate }}</h5>
        <p>{{ mandator.commonName }}</p>
        <h5>{{ "mandator.email" | translate }}</h5>
        <p>{{ mandator.emailAddress }}</p>
        <h5>{{ "mandator.serialNumber" | translate }}</h5>
        <p>{{ mandator.serialNumber  }}</p>
        <h5>{{ "mandator.country" | translate }}</h5>
        <p>{{ mandator.country }}</p>
      </mat-card-content>
      <ng-container *ngTemplateOutlet="sendReminderButton"></ng-container>
    </div>
    <div *ngIf="isValidOrganizationIdentifier" class="mandator-container signer">
      <div class="mandator-main">
        <h2>Signer</h2>
        <mat-card-content>
          <h5>{{ "mandator.organizationid" | translate }}</h5>
          <p>{{ signer?.organizationIdentifier }}</p>
          <h5>{{ "mandator.organization" | translate }}</h5>
          <p>{{ signer?.organization  }}</p>
          <h5>{{ "mandator.name" | translate }}</h5>
          <p>{{ signer?.commonName }}</p>
          <h5>{{ "mandator.email" | translate }}</h5>
          <p>{{ signer?.emailAddress }}</p>
          <h5>{{ "mandator.serialNumber" | translate }}</h5>
          <p>{{ signer?.serialNumber  }}</p>
          <h5>{{ "mandator.country" | translate }}</h5>
          <p>{{ signer?.country }}</p>
        </mat-card-content>
    </div>
      <ng-container *ngTemplateOutlet="sendReminderButton"></ng-container>
    </div>
  </div>
</div>
<app-popup [message]="popupMessage" [isVisible]="isPopupVisible"></app-popup>

<ng-template #sendReminderButton>
  <div class="btn-reminder" *ngIf="showReminderButton()">
    <button
      mat-raised-button
      color="primary"
      *ngIf="showButton"
      (click)="triggerSendReminder()"
    >
      {{ "credentialManagement.sendReminder" | translate }}
    </button>
  </div>
</ng-template>
