<app-navbar></app-navbar>
<div class="credendial-container">
  <div class="mandatee-container">
    <div class="title-credendial">
      <h1>{{ title }}</h1>
    </div>
    <mat-card>
      <h2 class="manda">Mandatee</h2>
      <mat-card-content>
        <form>
          <mat-form-field>
            <mat-label>First name</mat-label>
            <input
              matInput
              [(ngModel)]="credential.firstname"
              type="text"
              name="firstname"
              [disabled]="isDisabled"
            />
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-label>Last name</mat-label>
            <input
              matInput
              [(ngModel)]="credential.lastname"
              type="text"
              name="lastname"
              [disabled]="isDisabled"
            />
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-label>Email address</mat-label>
            <input
              matInput
              [(ngModel)]="credential.emailaddress"
              type="text"
              name="emailaddress"
              [disabled]="isDisabled"
            />
          </mat-form-field>
          <br />
          <div class="mobile">
            <div class="country">
              <mat-form-field>
                <mat-label>Country</mat-label>
                <mat-select
                  [(ngModel)]="selectedCountry"
                  name="country"
                  [disabled]="isDisabled"
                >
                  <mat-option
                    *ngFor="let country of countries"
                    [value]="country.code"
                    >{{ country.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="phone">
              <mat-form-field>
                <mat-label>Mobile phone</mat-label>
                <input
                  matInput
                  [(ngModel)]="mobilePhone"
                  type="text"
                  name="mobilephone"
                  [disabled]="isDisabled"
                />
              </mat-form-field>
            </div>
          </div>

          <h2>Powers</h2>
          <br />
          <div class="power">
            <div class="domain">
              <p>Domain</p>
              <p>Dome</p>
            </div>
            <div class="function">
              <p>Function</p>
              <select
                class="select-options"
                [(ngModel)]="selectedOption"
                [disabled]="isDisabled"
                name="selectedOption"
              >
                <option value="Onboarding">Onboarding</option>
                <option value="Product offer">Product offer</option>
              </select>
              <button
                class="add-option-btn"
                [disabled]="isDisabled"
                (click)="addOption()"
              >
                Add
              </button>
            </div>
          </div>

          <div *ngIf="viewMode === 'create'">
            <div
              *ngFor="let option of addedOptions; let i = index"
              class="option-container"
            >
              <p>{{ option.name }}</p>
              <mat-slide-toggle
                [(ngModel)]="option.execute"
                name="execute-{{ i }}"
                [disabled]="isDisabled"
                >Execute</mat-slide-toggle
              >
              <mat-slide-toggle
                [(ngModel)]="option.create"
                name="create-{{ i }}"
                [disabled]="isDisabled"
                >Create</mat-slide-toggle
              >
              <mat-slide-toggle
                [(ngModel)]="option.update"
                name="update-{{ i }}"
                [disabled]="isDisabled"
                >Update</mat-slide-toggle
              >
              <mat-slide-toggle
                [(ngModel)]="option.delete"
                name="delete-{{ i }}"
                [disabled]="isDisabled"
                >Delete</mat-slide-toggle
              >
            </div>
          </div>

          <div *ngIf="viewMode === 'detail'">
            <div
              *ngFor="let option of credential.options; let i = index"
              class="option-container"
            >
              <p>{{ option.name }}</p>
              <mat-slide-toggle
                [(ngModel)]="option.execute"
                name="execute-{{ i }}"
                disabled
                >Execute</mat-slide-toggle
              >
              <mat-slide-toggle
                [(ngModel)]="option.create"
                name="create-{{ i }}"
                disabled
                >Create</mat-slide-toggle
              >
              <mat-slide-toggle
                [(ngModel)]="option.update"
                name="update-{{ i }}"
                disabled
                >Update</mat-slide-toggle
              >
              <mat-slide-toggle
                [(ngModel)]="option.delete"
                name="delete-{{ i }}"
                disabled
                >Delete</mat-slide-toggle
              >
            </div>
          </div>

          <br />
          <button
            mat-raised-button
            color="primary"
            type="submit"
            *ngIf="hideButton"
            [routerLink]="['/credentialManagement']"
          >
            Cancel
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="submitCredential()"
            *ngIf="hideButton"
            [routerLink]="['/credentialManagement']"
          >
            Create Credential
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mandator-container">
    <h2 class="manda">Mandator</h2>
    <br />
    <mat-card-content>
      <h6>Organization id</h6>
      <p>{{ mandator?.organizationId }}</p>
      <h6>Organization</h6>
      <p>{{ mandator?.organization }}</p>
      <h6>Name</h6>
      <p>{{ mandator?.name }}</p>
      <h6>Email address</h6>
      <p>{{ mandator?.email }}</p>
      <h6>Serial number</h6>
      <p>{{ mandator?.serialNumber }}</p>
      <h6>Country</h6>
      <p>{{ mandator?.country }}</p>
    </mat-card-content>
    <div class="btn-reminder">
      <button
        mat-raised-button
        color="primary"
        *ngIf="showButton"
        (click)="triggerSendReminder()"
      >
        Send Reminder
      </button>
    </div>
    <div class="btn-cancel">
      <button
        mat-raised-button
        color="secondary"
        *ngIf="showButton"
        [routerLink]="['/credentialManagement']"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
