<form [formGroup]="form" (ngSubmit)="submit()">
    <fieldset formGroupName="info1">
      <label>Info 1:</label>
      <input type="text" formControlName="field1" />
      @if (form.get('info1.field1')?.touched && form.get('info1.field1')?.invalid) {
        <div style="color: red;">Camp requerit</div>
      }
    </fieldset>
  
    <fieldset formGroupName="info2">
      <label>Info 2:</label>
      <input type="text" formControlName="field2" />
      @if (form.get('info2.field2')?.touched && form.get('info2.field2')?.invalid) {
        <div style="color: red;">Camp requerit</div>
      }
    </fieldset>
  
    <fieldset>
      <label>Powers:</label>
      <app-powers formControlName="powers" [type]="'employee'"/>
      @if (form.get('powers')?.touched && form.get('powers')?.invalid) {
        <div style="color: red;">
          Selecciona almenys un power amb una funció marcada
        </div>
      }
    </fieldset>
  
    <button type="submit">Submit</button>
  
    @if (form.invalid) {
      <div style="color: darkred; margin-top: 10px;">
        ⚠️ El formulari té errors. Si us plau, revisa els camps.
        </div>
    }
  </form>
  