:host{
    height:300px;
}

.mat-mdc-dialog-actions.mdc-dialog__actions.confirm-or-cancel{
    padding: 24px; 
}

.mat-mdc-button:not(:disabled){
    &.warn{
        color: yellow;
    }
    &.error{
        color: red;
    }

    :hover{
        &.warn{
            background-color: rgb(194, 107, 107);
        }
        &.error{
            background-color: rgb(194, 107, 107);
        }
    }
}