<!-- DATA TO BE DISPLAYED WHILE LOADING ASYNC OPERATIONS -->
@if((isLoading$|async) && data.confirmationType === 'async'){
  <h2 mat-dialog-title>{{ data.loadingData?.title || 'Please wait while the process is completed...'}}</h2>
  <div mat-dialog-content>
    <p>
      {{ data.loadingData?.message || ''}}
    </p>
    @if(data.loadingData?.template; as loadingTemplate){
      <ng-template [cdkPortalOutlet]="loadingTemplate"></ng-template>
    }@else{
      <mat-spinner [diameter]="50"></mat-spinner>
    }
  </div>

  <!-- DEFAULT DIALOG DATA (NON-LOADING) -->
}@else{
  <h2 mat-dialog-title>{{ data.title }}</h2>
  <div mat-dialog-content>
    <p>
      {{ data.message || ''}}
    </p>
  </div>
  <div mat-dialog-actions>
    <!-- CONFIRMATION NEEDED: CANCEL AND CONFIRM BUTTONS -->
      @if(data.confirmationType !== 'none'){
        <button mat-flat-button color="cancel" (click)="onCancel()">{{ "dialog.cancel" | translate }}</button>
        <button mat-raised-button color="primary"
        (click)="onConfirm()">{{ "dialog.accept" | translate }}</button>
      }
      @else{
        <!-- NO CONFIRMATION NEEDED: ONLY CLOSE BUTTON -->
          <button mat-flat-button [color]="statusColor" (click)="onConfirm()">{{ "dialog.close" | translate }}</button>
      }
  </div>
}
