<h2 mat-dialog-title>{{ data.title }}</h2>
<div mat-dialog-content>
  <p>{{ data.message }}</p>
</div>
<div mat-dialog-actions>
  @if(isLoading$|async){
    <mat-spinner></mat-spinner>
  }
  @else if(data.confirmationType !== 'none'){
    <button mat-button (click)="onCancel()">{{ "dialog.cancel" | translate }}</button>
    <button mat-raised-button 
    [color]="statusColor"
    (click)="onConfirm()">{{ "dialog.accept" | translate }}</button>
  }
  @else{
    <button [color]="statusColor" mat-raised-button (click)="onConfirm()">{{ "dialog.ok" | translate }}</button>
  }
</div>
