.settings__container {
  height: 100vh;
}
  
.settings__sidenav-header {
  text-align: center;
}
  
.settings__nav-link--active {
  font-weight: bold !important;
  background-color: var(--Light-Blue-Secondary) !important;
}

.settings__nav-item {
  display: flex;
  gap: 0.5rem;
}