
<app-navbar></app-navbar>
<div>{{endSessionCountdown$|async}}</div>
<!-- ? needed to have offerParams subscribed? -->
@if(offerParams$()){ 
  <mat-stepper (selectedIndexChange)="onSelectedStepChange($event)" 
  [selectedIndex]="currentIndex$()" [orientation]="stepperOrientation$()" color="primary">
    <!-- ONBOARDING STEP -->
    <mat-step [completed]="currentIndex$()!==0" [state]="currentIndex$()===0 ? 'edit' : 'done'">
    <div>
      <ng-template matStepLabel>{{ "credentialOffer.first-label" | translate }}</ng-template>
      <app-credential-offer-onboarding></app-credential-offer-onboarding>
    </div>
    </mat-step>

    <!-- OFFER STEP -->
    <mat-step>
      <div>
        <ng-template matStepLabel>{{ "credentialOffer.second-label" | translate }}</ng-template>
        @if(offerParams$().loading){
          <p class="loading">
            <mat-spinner [diameter]="18"></mat-spinner>
            {{offerParams$()!.c_transaction_code ? ('credentialOffer.refreshing' | translate ) : ('credentialOffer.getting'| translate)}}
          </p>
        }@else if(offerParams$()!.credential_offer_uri){
            <app-credential-offer [credentialOfferUri$]="offerParams$()!.credential_offer_uri!" 
            (refreshCredential)="onRefreshCredentialClick()"></app-credential-offer>
        }@else{
            <p>{{ "credentialOffer.no-data" | translate }}</p>
        }
      </div>
    </mat-step>

      <ng-template matStepperIcon="edit">
          <small>{{currentIndex$()! + 1}}</small>
      </ng-template>
      <ng-template matStepperIcon="done">
        @if(currentIndex$() === 1){
          <mat-icon>check</mat-icon>
        }@else {
          <small class="last-done-icon">2</small>
        }
      </ng-template>
    </mat-stepper>
  }
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="onSelectedStepChange(currentIndex$() === 1 ? 0 : 1)">{{ currentStep$() === 'onboarding' ? ("next" | translate) : ("back" | translate) }}</button>
  </div>
  
  @if(showPopup$|async){
    <div class="dialog-test">
      Current credential offer will expire in:
        @if((endSessionCountdown$|async)! > 0 ){
        <span style="color:red">{{endSessionCountdown$|async}}</span>
        }
      Do you want to refresh it?
      <button (click)="onRefreshCredentialClick()">REFRESH</button>
      <button (click)="redirectToHome()">Leave</button>
    </div>
}