
<app-navbar></app-navbar>
<!-- ? needed to have offerParams subscribed? -->
@if(offerParams$()){ 
  <mat-stepper (selectedIndexChange)="onSelectedStepChange($event)" 
  [selectedIndex]="currentIndex$()" [orientation]="stepperOrientation$()" color="primary">
    <!-- ONBOARDING STEP -->
    <mat-step [completed]="currentIndex$()!==0" [state]="currentIndex$()===0 ? 'edit' : 'done'">
    <div>
      <ng-template matStepLabel>Log in to Wallet</ng-template>
      <app-credential-offer-onboarding></app-credential-offer-onboarding>
    </div>
    </mat-step>

    <!-- OFFER STEP -->
    <mat-step>
      <div>
        <ng-template matStepLabel>Get credential</ng-template>
        @if(offerParams$().loading){
          <p class="loading">
            <mat-spinner [diameter]="18"></mat-spinner>
            {{offerParams$()!.c_transaction_code ? 'Refreshing credential offer...' : 'Getting credential offer...'}}
          </p>
        }@else if(offerParams$()!.credential_offer_uri){
            <app-credential-offer [credentialOfferUri$]="offerParams$()!.credential_offer_uri!" 
            (refreshCredential)="onRefreshCredentialClick()"></app-credential-offer>
        }@else{
            <p>No credential offer data.</p>
        }
      </div>
    </mat-step>

      <ng-template matStepperIcon="edit">
          <small>{{currentIndex$()! + 1}}</small>
      </ng-template>
      <ng-template matStepperIcon="done">
        @if(currentIndex$() === 1){
          <mat-icon>check</mat-icon>
        }@else {
          <small class="last-done-icon">2</small>
        }
      </ng-template>
    </mat-stepper>
  }
  <div class="button-container">
    <button mat-flat-button (click)="onSelectedStepChange(currentIndex$() === 1 ? 0 : 1)">{{currentStep$() === 'onboarding' ? 'Next' : 'Back'}}</button>
  </div>
  