<div class="landing-page">
  <div class="container-nav">
    <header class="main-header">
      <nav class="navbar">
        <div class="navbar-brand" href="/">
          <a href="/">
            <img
              class="logo"
              src="../../../assets/logo/logo-dome-issuer.png"
              alt="DOME Logo"
            />
          </a>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [href]="knowledgebase_url" target="_blank" rel="noopener noreferrer" tabindex="0">Docs</a>
          </li>
        </ul>
      </nav>
    </header>

    <section class="cover" id="cover">
      <div class="cover-content">
        <h1>Welcome to the DOME Issuer for LEARCredentials</h1>
        <div class="scroll-indicator">
          <a class="btn btn-primary" [href]="knowledgebase_url" target="_blank" rel="noopener noreferrer" tabindex="0">
            Learn More
            <img src="../../../assets/icon/fletxa_dreta.png" alt="arrow">
          </a>
          <p class="scroller">Scroll to see more</p>
          <a class="btn btn-link" (click)="navigateToSection('about-section')">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="64"
              height="64"
              viewBox="0 0 24 24"
            >
              <defs>
                <pattern
                  id="image-bg"
                  patternUnits="userSpaceOnUse"
                  width="24"
                  height="24"
                >
                  <image
                    href="/assets/background/fondoIssuer.png"
                    x="0"
                    y="0"
                    width="24"
                    height="24"
                  />
                </pattern>
              </defs>
              <circle cx="12" cy="12" r="10" fill="#DDE6F6" />
              <path
                fill="none"
                stroke="url(#image-bg)"
                stroke-width="2"
                d="M8 10l4 4 4-4"
              />
            </svg>
          </a>
        </div>
      </div>
    </section>
  </div>

  <section id="about-section" class="content-section">
    <div class="content-wrapper">
      <p>
        This site is intended for Legal Representatives of companies who want to
        issue one or more LEARCredentials to one or more employees of the
        company. A LEARCredential is a type of Verifiable Credential which
        enables an employee, nominated by a legal representative, to act on
        behalf of an organisation with restricted power with respect to
        third-parties.
      </p>
      <ul>
        <li>
          The issuer of the LEARCredential
          <strong>must be a legal representative</strong> of the company. The
          legal representative will sign the LEARCredential with an eIDAS
          digital certificate, which can be either a personal one or a
          certificate of representation.
        </li>
        <li>
          The receiver of the LEARCredential (both the subject and holder of the
          credential) <strong>can be any employee (or contractor)</strong> of
          the company. The legal representative will delegate a restricted set
          of power to that person. Those restricted power are included inside
          the credential and can be verified by any Relying party to whom the
          holder presents the LEARCredential.
        </li>
      </ul>
    </div>
  </section>

  <section class="content-section">
    <div class="legal-representative">
      <p>
        You must be a legal representative of the company, to be able to
        delegate the restricted power required for DOME.
      </p>
      <p>
        You need an eIDAS certificate to be able to use the system. In addition
        you will have to register your company email.
      </p>
      <p>
        Note: if you are reading this in your mobile, most probably the button
        will not work, unless you have installed your eIDAS certificate in the
        mobile. You typically need to use a PC, with the certificate installed
        in the browser.
      </p>
      <a class="btn-secondary" tabindex="0" (click)="login()">Login as Legal Representative</a>

    </div>
  </section>

  <section class="content-section wallet-section">
    <div class="wallet-info-container">
      <div class="wallet-info-qr">
        <img class="wallet-logo" src="../../../assets/icon/wallet.png" alt="wallet">
        <h2>Obtain your wallet</h2>
        <p>
          You need a wallet to store your LEARCredentials and present them to
          Relaying parties like DOME Marketplace.
        </p>
        <p>
          DOME provides a simple wallet enough for authenticating to the DOME
          Marketplace and performing all needed processes.
        </p>
        <qrcode [qrdata]="walletUrl" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        <p>
          Scan this QR code or go in your mobile to
          <a [href]="walletUrl" target="_blank" rel="noopener noreferrer" tabindex="0">{{walletUrl}}</a>
        </p>
      </div>
    </div>
  </section>

  <footer class="main-footer">
    <span>
      <p>© 2024–2024 DOME Marketplace Authors&nbsp; | &nbsp;<a href="https://creativecommons.org/licenses/by/4.0" target="_blank" rel="noopener noreferrer" tabindex="0">CC BY 4.0</a>&nbsp; | &nbsp;<a href="https://dome-marketplace.eu/" target="_blank" rel="noopener noreferrer" tabindex="0">Privacy Policy</a></p>
    </span>
    <span><a href="https://github.com/evidenceledger/domeissuer" target="_blank" rel="noopener noreferrer" tabindex="0"><img class="footer-logo" src="assets/icon/github.png" alt="GitHub"></a></span>
  </footer>
</div>
