<app-navbar></app-navbar>
<div class="credential-management-container">
  <div class="title">
    <h2>{{"credentialManagement.title" | translate}}</h2>
    <div class="title-buttons">
      <button id="create-button" mat-raised-button color="primary" (click)="createNewCredential()">{{"credentialManagement.button" | translate}}</button>
      <button id="admin-button" mat-raised-button color="primary" *ngIf="rol==='admin'" (click)="createNewCredential2()">{{"credentialManagement.buttonAdmin" | translate}} </button>
    </div>
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"credentialManagement.status" | translate}}</th>
        <td mat-cell *matCellDef="let credential_procedures">{{ credential_procedures.credential_procedure.status }}</td>
      </ng-container>

      <ng-container matColumnDef="full_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"credentialManagement.name" | translate}}</th>
        <td mat-cell *matCellDef="let credential_procedures">{{ credential_procedures.credential_procedure.full_name }}</td>
      </ng-container>

      <ng-container matColumnDef="updated">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"credentialManagement.updated" | translate}}</th>
        <td mat-cell *matCellDef="let credential_procedures">{{ credential_procedures.credential_procedure.updated | date:'short'}}</td>
      </ng-container>

      <!-- Nueva columna de botón de acción -->
      <ng-container *ngIf="rol==='local-signer'" matColumnDef="actions">
        <th id="actions-column" mat-header-cell *matHeaderCellDef>Sign</th>
        <td mat-cell *matCellDef="let credential_procedures">
          <button mat-button (click)="performAction(credential_procedures)">Sign</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
        [ngClass]="{'table-row-odd': i % 2 === 0, 'table-row-even': i % 2 !== 0}"
        (click)="goToCredentialDetails(row)"
        (keydown.enter)="goToCredentialDetails(row)"
        tabindex="0"
        class="clickable-row">
      </tr>
    </table>
  </div>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
</div>