<app-navbar></app-navbar>
<div class="credential-management-container">
  <div class="title">
    <h2>{{"credentialManagement.title" | translate}}</h2>
    <div class="title-buttons">
      <button id="create-button" mat-raised-button color="primary" (click)="createNewCredential()">{{"credentialManagement.button" | translate}}</button>
      @if (isValidOrganizationIdentifier) {
        <button
          id="admin-button"
          mat-raised-button
          color="primary"
          (click)="createCredentialAsSigner()">
          {{"credentialManagement.buttonAdmin" | translate}}
        </button>
      }
    </div>
  </div>

    <div class="table-frame">
        <div class="table-container">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                <!-- STATUS COLUMN -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header appActiveSortColumn="status">{{"credentialManagement.status" | translate}}</th>
                     <!-- todo temporary until there are no VCs with WITHDRAWN status -->
                     <td mat-cell *matCellDef="let credential_procedures">
                      {{ credential_procedures.credential_procedure.status === 'WITHDRAWN' ? 'DRAFT' : credential_procedures.credential_procedure.status }}
                     </td>
                </ng-container>

                <!-- FULL NAME COLUMN -->
                <ng-container matColumnDef="full_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header appActiveSortColumn="full_name">{{"credentialManagement.fullName" | translate}}</th>
                    <td mat-cell *matCellDef="let credential_procedures">
                        <div class="full-name-wrapper">{{ credential_procedures.credential_procedure.full_name }}</div>
                    </td>
                </ng-container>

                <!-- UPDATED COLUMN -->
                <ng-container matColumnDef="updated">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header appActiveSortColumn="updated">{{"credentialManagement.updated" | translate}}</th>
                    <td mat-cell *matCellDef="let credential_procedures">{{ credential_procedures.credential_procedure.updated | date: 'dd-MM-yyyy HH:mm' }}</td>
                </ng-container>

     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
       [ngClass]="{'table-row-odd': i % 2 === 0, 'table-row-even': i % 2 !== 0}"
       (click)="goToCredentialDetails(row)"
       (keydown.enter)="goToCredentialDetails(row)"
       tabindex="0"
       class="clickable-row">
     </tr>
   </table>
 </div>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
  </div>
</div>
