@import "../../../styles.scss";


  .credential-management-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 24px;
    border-radius: 5px;
    align-items: center;

    .title {
      width: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;
    }

    .title-buttons{
      display:flex;
      gap: 12px;
    }

    th {
      background-color: $Blue;
      color: $White;
    }

    .table-container {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
    }

    .table-row-odd {
      background-color: $Light-Blue-Secondary;
    }

    .table-row-even {
      background-color: $White;
    }

    tr {
      cursor: pointer;
      &:hover {
        background-color: $Light-Blue-Primary;
      }
    }
  }

  .create-button {
    margin-left: auto;
  }

  .mat-column-full_name{
    max-width: 100px; 
    max-height: 50px; 
    overflow: hidden;
    text-overflow: ellipsis;
  }

@media(width < 1025px){
  .credential-management-container {
    .title{
      display:flex;
      flex-direction:column;
      justify-content:normal;
      gap: 12px;
    }
  }
}

@media(width < 590px){
  .credential-management-container {
    .title{
      .title-buttons{
        flex-direction:column;
        justify-content: normal;
        gap: 8px;
      }
    }
  }
}