@import "../../../styles.scss";

::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
  opacity: 0.54 !important;
  color: $Light-Blue-Secondary;
  transform: translateY(0px) !important;

  &:hover{
    opacity: 1 !important;
  }
}
  .credential-management-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 24px;
    border-radius: 5px;
    align-items: center;

    .title {
      width: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;
    }

    .title-buttons{
      display:flex;
      gap: 12px;
    }

    th {
      background-color: $Blue;
      color: $White;
    }

    .table-container {
      width:auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
    }

    .mat-mdc-row{
      max-height:52px;
    }

    .table-row-odd {
      background-color: $Light-Blue-Secondary;
    }

    .table-row-even {
      background-color: $White;
    }

    tr {
      cursor: pointer;
      &:hover {
        background-color: $Light-Blue-Primary;
      }
    }
  }

  .create-button {
    margin-left: auto;
  }

  .mat-column-full_name{
    max-width:150px;

    .full-name-wrapper {
      height:100%;
      max-width: 220px; 
      white-space: nowrap;   
      overflow: hidden;     
      text-overflow: ellipsis;
    }
  }

  .table-frame{
    display:flex;
    flex-direction:column;
    align-items:stretch;
    width: 70%;
  }

@media(width < 1025px){
  .credential-management-container {
    .title{
      display:flex;
      flex-direction:column;
      justify-content:normal;
      gap: 12px;
    }
  }
}

@media(width < 590px){
  .credential-management-container {
    .title{
      .title-buttons{
        flex-direction:column;
        justify-content: normal;
        gap: 8px;
      }
    }
    .table-container {
      width: 100% !important;
      max-width: 100% !important;
      overflow-x:auto;
      display: block;
      // flex-direction: column;
      // align-items: center;
      // margin-bottom: 2rem;
    }
    .table-frame{
      width:100%;
      display:flex;
      flex-direction:column;
      align-items:stretch;
    }
    .mat-column-full_name{
      max-width:150px;
  
      .full-name-wrapper {
        max-width:150px;
      }
  }
}


}