
<app-navbar></app-navbar>
<!-- todo cal aquest if? tenia sentit amb observables -->
@if(offerParams$()){ 
  <mat-stepper #stepper (selectedIndexChange)="onLabelSelectedStepChange($event)" 
  [selectedIndex]="currentIndex$()" [orientation]="stepperOrientation$()" color="primary">
  <!-- todo make one reusable step component -->
    <!-- ONBOARDING STEP -->
    <mat-step #stepZero [completed]="currentIndex$()!==0" [state]="currentIndex$()===0 ? 'edit' : 'done'">
        <ng-template matStepLabel>Login to Wallet</ng-template>
            <app-credential-offer-onboarding></app-credential-offer-onboarding>
    </mat-step>

    <!-- QR STEP -->
    <mat-step>
        <ng-template matStepLabel>Get credential</ng-template>
        @if(offerParams$()?.loading){
          <p>Getting credential offer...</p>
        }@else if(offerParams$()!.credential_offer_uri){
            <app-credential-offer [credentialOfferUri$]="offerParams$()!.credential_offer_uri!"></app-credential-offer>
        }@else{
            <p>No credential offer data.</p>
        }
    </mat-step>

      <ng-template matStepperIcon="edit">
        <small>1</small>
      </ng-template>
      <ng-template matStepperIcon="done">
        @if(currentIndex$() === 1){
          <mat-icon>check</mat-icon>
        }@else {
          <!-- todo -->
          <small style="fontSize:16px">2</small>
        }
      </ng-template>
    </mat-stepper>
  }
  <div class="button-container">
    <button mat-flat-button (click)="onButtonSelectedStepChange()">{{currentStep$() === 'onboarding' ? 'Next' : 'Back'}}</button>
  </div>
  