@import '../../../../../styles/variables';

mat-stepper{
    padding-top: 30px;
    min-height: 420px;
    width: 500px;
    max-width:90%;
    margin: auto;
}

.button-container{
    display: flex;
    justify-content: center;

    button{
        width: 120px;
        padding-block: 20px; 
        background-color: $Light-Blue-Secondary;
        color: $Blue;
        font-size: 1.2rem;
        font-weight: 700;
      }
}
