
<app-navbar></app-navbar>
<mat-stepper (selectedIndexChange)="onSelectedStepChange($event)" #stepper color="primary" [selectedIndex]="currentIndex$()">
    <!-- ONBOARDING STEP -->
    <mat-step state="onboarding">
        <ng-template matStepLabel>Login to Wallet</ng-template>
            <app-credential-offer-onboarding></app-credential-offer-onboarding>
    </mat-step>

    <!-- QR STEP -->
    <mat-step state="qr">
        <ng-template matStepLabel>Get credential</ng-template>
        @if(offerState().credential_offer_uri){
            <app-credential-offer [qrCodeData]="offerState().credential_offer_uri!" [walletParams]="walletCredentialOfferUrl()"></app-credential-offer>
        }@else {
            <p>No QR data.</p>
        }
    </mat-step>
    <!-- todo <ng-template matStepperIcon="onboarding">
        <mat-icon>call_end</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="qr">
        <mat-icon>forum</mat-icon>
      </ng-template> -->
    </mat-stepper>
    <div class="button-container">
      @if(currentStep$() === 'onboarding'){
          <button mat-button (click)="onSelectedStepChange(1)">Next</button>
      }@else {
        <button mat-button (click)="onSelectedStepChange(0)">Next</button>
      }
  </div>
  