
@use "../../../../../styles/variables";

p{
  margin: 0px;
}

.credential-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    .title-credential {
      text-align: center;

      h2 {
        font-size: 1.2rem;
        font-weight: normal;
        margin-bottom: 0px;
      }

      p{
        margin-bottom:0px;
      }
    }

    .content-container {
      display: flex;
      align-items:stretch;
      flex-direction: column;

      .qrcode{
        text-align:center;
      }

      .links{
        margin-top: 0.5rem;
      }

      .test-warn{
        display: block;
        padding-top: 1rem;
        color: red;
        text-align: center;
      }

      .unable-text{
        display: block;
        text-align: center;
        font-style: italic;

        small{
          display: inline-block;
          width: 80%;
        }
      }

      .guide-text{
        padding-top: 1rem;
      }
    }
}