<p>Scan the QR code to obtain the credential.</p>
@if(qrCodeData()){
    <qrcode [qrdata]="qrCodeData()" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    <p>
      <small>
        <em>Unable to scan the QR? Click the link below to access the
          <!-- todo això ha d'enviar al Wallet iniciant OID4VCI -->
          <a href="{{walletUrl()}}">Verifiable Credential</a> directly
        </em>
      </small>
    </p>
    <p>
      <small>
        <em>Check the 
          <!-- todo posar link en variable? -->
          <a href="https://knowledgebase.dome-marketplace-prd.org/books/dome-digital-wallet-user-guide">Wallet Users Guide</a>
           for assistance.
        </em>
      </small>
    </p>
}@else {
    <p>No QR data.</p>
}