<app-navbar></app-navbar>
<div class="credential-card">
  <div class="credendial-container">
    <div class="title-credendial">
      <h2>{{"credentialOffer.title" | translate}}</h2>
    </div>
    <div class="content-container">
      <div class="qr-container">
        <p>{{"credentialOffer.text" | translate}}</p>
        @if (qrCodeData) {
          <qrcode [qrdata]="qrCodeData" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        }
        @if(cTransactionCode){
          <button mat-raised-button color="primary" (click)="getCredentialOfferByCTransactionCode()" class="refresh-button">
            {{"credentialOffer.refresh-qr" | translate}}
          </button>
        }
      </div>
    </div>
  </div>
</div>