<p>Scan the QR code to obtain the credential.</p>
@if(credentialOfferUri$()){
    <qrcode [qrdata]="credentialOfferUri$()" [width]="256" [colorDark]="qrColor" [errorCorrectionLevel]="'M'"></qrcode>
    <p>
      <small>
        <em>Unable to scan the QR? Click the link below to access the
          <a href="{{walletSameDeviceUrl$()}}" target="_blank">Verifiable Credential</a> directly
        </em>
      </small>
    </p>
    <p>
      <small>
        <em>Check the 
          <a href="{{walletUsersGuideUrl}}" target="_blank">Wallet Users Guide</a>
           for assistance.
        </em>
      </small>
    </p>
}@else {
    <p>No QR data.</p>
}