<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list class="menu-list">
      <ion-item class="menu-item" (click)="navigateToPage('user-info')">
        <ion-label>User data</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-header [translucent]="false" id="main-content">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img
      alt
      src="assets/icon/dome_white_logo.png"
      width="auto"
      slot="start"
      height="35px"
    />
    <ion-button
      slot="end"
      color="primary"
      class="toolbar-but"
      (click)="logout()"
    >
      Logout
    
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding home-content">
  <ion-grid class="background-grid">
    <ion-row class="ion-justify-content-left">
      <ion-col class="ion-justify-content-first" style="border-left-width:3px;border-color: #B0FF2B; margin-left: 10px;border-left-style: solid;">
        <ion-text class="">
          <b>Credencials</b>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <br/>
      <span>Instructions for storing Lear credential:<br/>
        1- Click on the Generate Credential button.
        <br/>
        2- <br/>
        - If accessing from a mobile device, click on the Redirect to Wallet button.<br/>
        - If accessing from a PC, access from the mobile device at https://wallet, log in and scan the QR code inside the wallet.</span>
    </ion-row>
    <br/>
    <ion-row class="ion-justify-content-center">
      <ion-button class="generate_cred_but" (click)="generateQR()">
        Generate Credential
      </ion-button>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <qrcode *ngIf="qrdata!==''" [qrdata]="qrdata" [width]="300"  colorDark="#203d76"></qrcode>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-button *ngIf="qrdata!==''" class="generate_cred_but" (click)="saveInfo()">
        Download the Wallet to save your credentials
      </ion-button>
    </ion-row>
    
      
  </ion-grid>
</ion-content>
